APP_NAME=Fynco
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=fynco
DB_USERNAME=fynco_user
DB_PASSWORD=fynco_pass

# CORS (se usar barryvdh/laravel-cors ou middleware próprio)
FRONT_ORIGIN=https://fynco-front.onrender.com
